@import "src/variables";

.advertisers-table-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: 1px solid $border-color;

  &__col {
    flex: 1;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      color: $hover-text-color;
    }

    &:nth-child(n+3) {
      text-align: center;
    }
  }
}