* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, serif;
  font-size: 12px;
}

body {
  color: #c0c3ca;
  background-color: #313131;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}